
router bgp {{ bgp.asn }}
  router-id {{ bgp.router_id }}
  address-family ipv4 unicast
    {%- for net in bgp.networks %}

    network {{ net.ip }}/{{ net.route_mask }}
    {%- endfor %}

  neighbor {{ bgp.remote_peer }}
    remote-as {{ bgp.remote_asn }}
    description configured by nornir
    address-family ipv4 unicast
      route-map {{ bgp.route_map }}

